aws_region                = "us-east-2"
s3_bucket_carga_data_name = "s3-bucket-carga-data"
environment               = "dev"
notification_email        = "lion180596@gmail.com"

# Sólo para entornos efímeros:
# force_destroy_buckets = true
